- errors = locals[:result].body[:errors]
- files  = locals[:result].body[:files]

%h2
  Dropzone simple example
%p
  Listing files in collection reference:
  = locals[:collection_ref]

- if errors
  %p
    = errors

- if files
  - files.each do |file|
    %p
      = file[:filename]
      = file[:last_modified]
